<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Your Courses</title>
    </head>

    <style>

        th, td, tr {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }
    </style>

    <body>
        <h3>Welcome, [[${#httpServletRequest.remoteUser}]]</span></h3>
            
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out"/>
        </form>
        <hr>

        <div>
            <a th:href="@{/home}">Home</a>&nbsp; | &nbsp;
            <a th:href="@{/available_courses}">Available Courses</a>&nbsp; | &nbsp;
            <a th:href="@{/registered_courses}">Registered Courses</a>&nbsp; | &nbsp;
            <a th:href="@{/yourcourses}">Your Courses</a>
            <button th:if="${current_user == 'anonymousUser'}" role="button" style="float: right;">
                <a th:href="@{/login}">LogIn</a>
            </button>
        </div>
        <hr>
        <div th:if="${authorization}">

            <span th:if="${createstatus}">
                <span th:if="${createstatus == 200}" th:text="${message}" style="color: green;"></span>
                <span th:if="${createstatus != 200}" th:text="${message}" style="color: red;"></span>
            </span>

            <div>
                <form th:action="@{/create_course}" method="post">
                    <div><label> Course Name : <input type="text" name="cname"/> </label></div><br>
                    <div><input type="submit" value="Create"/></div>
                </form>
            </div>
            <hr>

            <div>
                <h4>All Courses created by You</h4>

                <span th:if="${deletestatus}">
                    <span th:if="${deletestatus == 200}" th:text="${message}" style="color: green;"></span>
                    <span th:if="${deletestatus != 200}" th:text="${message}" style="color: red;"></span>
                </span>
                <br>

                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c: ${my_courses}">
                            <form th:action="@{/delete_course}" method="post">
                                <td><input type="number" name="cid" th:value="${c.getId()}" style="width: 6em;" readonly /></td>
                                <td th:text="${c.getName()}"></td>
                                <td><input type="submit" value="Delete"/></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div th:if="${!authorization}">
            <h4>You don't have authorization to this page!</h4>
        </div>

    </body>
</html>